body {
    background-image: linear-gradient(to left, #ccc, #00d9cc) !important;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 30px;
}

.container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 15px 15px #dedede;
    margin: 80px auto !important;
}

.invalid {
    color: #FF5733;
}